
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
body {
  background: #111;
  overflow-x: hidden;
}


}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}







.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
  grid-template-columns:repeat(auto-fit,minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box:hover video {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}



.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
 